<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <label>Enter Reading Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="00" name="code" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="00.0C" name="temp" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="00.00kMh" name="windSpeed" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="000deg" name="windDirection" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="000hPa" name="pressure" />
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form>