{{! <form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Name</label>
    <input class="input" type="text" placeholder="Enter station name" name="name" />
  </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form> }}
<div class="container content box add-station">
  <form action="/dashboard/addstation" method="POST">
    <div class="addstation-wrapper">
      <div class="field">
        <label class="label">Station Name</label>
        <div class="control">
          <input class="input" placeholder="Station name" type="text" name="name" />
        </div>
      </div>

      <div class="field">
        <label class="label">Latitude</label>
        <div class="control">
          <input class="input" placeholder="Latitude" name="latitude" />
        </div>
      </div>
      <div class="field">
        <label class="label">Longitude</label>
        <div class="control">
          <input class="input" placeholder="Longitude" name="longitude" />
        </div>
      </div>
    </div>

    <div class="field mt-4" id="add-station">
      <button class="button is-info">Add Station</button>
    </div>
  </form>
</div>