<form class="box" action="/station/{{station._id}}/addreading" method="POST">
  <label>Enter Reading Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temp" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Wind Speed" name="windSpeed" />
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter pressure" name="pressure" />
      </div>
    </div>
  </div>
  <div class="field mt-4">
    <button class="button is-info">Add Station</button>
  </div>
</form>