<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-4-widescreen is-2-fullhd">
  <div class="box column">latestCode {{latestCode}} latestCode</div>
  <div class="box column">latestTemp {{latestTemp}} latestTemp</div>
  <div class="box column">latestWindSpeed {{latestWindSpeed}} latestWindSpeed</div>
  <div class="box column">latestPressure {{latestPressure}} latestPressure</div>
</div>