{{!-- <nav class="navbar">
            <div class="navbar-menu" id="navMenu">
              {{! <div class="navbar-item"> }}
              <div class="buttons">
                  {{#if loggedInUser}}
                <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
                <a id="about" class="button" href="/about"> About </a>
                  {{else}}
                  <a class="button" id="login" href="/login"> Log in </a>
          <a class="button" id="signup" href="/signup"> Sign up </a>
              </div>    
                  {{/if}}
            </div>
          </nav> --}}